<div data-role="list"><%= @presenter.name %></div>

<div data-role="total-amount"><%= number_to_currency(@presenter.total_amount) %></div>

<% @presenter.people.each do |person| %>
  <%= link_to list_person_path(@presenter.list, person) do %>
    <div data-role="person-image"> <%= image_tag person.avatar.url(:thumb) %> </div>
    <div data-role="person"><%= person.name %></div>
    <div data-role="amount"><%= number_to_currency(person.amount) %></div>
  <% end %>
<% end %>

<% if @presenter.show_invitation? %>
  <div data-role="invitation">
    <%= simple_form_for [@presenter.list, @presenter.invitation] do |form| %>
      <%= form.input :email %>
      <%= form.button :submit, "Send Invitation" %>
    <% end %>
  </div>
<% end %>

<%= link_to("Edit", edit_list_path(@presenter.list)) %>
<%= link_to "Delete",
            list_path(@presenter.list),
            data: { confirm: "Are you sure you want to delete this list and all its people and gifts?" },
            method: :delete %>
<%= link_to("Add person", new_list_person_path(@presenter.list)) %>
