<div data-role="list"><%= @list.name %></div>

<div data-role="total-amount"><%= number_to_currency(@list.people.sum(:amount)) %></div>

<% @list.people.each do |person| %>
  <div data-role="person-image"> <%= image_tag person.avatar.url(:thumb) %> </div>
  <div data-role="person"><%= person.name %></div>
  <div data-role="amount"><%= number_to_currency(person.amount) %></div>
<% end %>

<%= link_to("Add person", new_list_person_path(@list)) %>
